<div id="comment-{{ comment.comment_pk }}" class="comment">
    <img src="{{ url_for('static', filename='uploads/'~(comment.user_avatar_path if comment.user_avatar_path else 'unknown.jpg')) }}" 
         alt="Avatar" class="w-8 h-8 rounded-full">
    <div class="comment-content">
        <div class="comment-header">
            <strong class="comment-author">{{ comment.user_first_name }} {{ comment.user_last_name }}</strong>
            <span class="comment-username">@{{ comment.user_username }}</span>
        </div>
        <p class="comment-text">{{ comment.comment_message }}</p>
        
        {% if user.user_pk == comment.comment_user_fk %}
        <form mix-post="/api-delete-comment" class="comment-delete-form">
            <input type="hidden" name="comment_pk" value="{{ comment.comment_pk }}">
            <input type="hidden" name="post_pk" value="{{ comment.comment_post_fk }}">
            <button type="submit" class="comment-delete-btn" style="pointer-events: none;">
                <i class="fa-solid fa-trash"></i> {{lans("delete")}}
            </button>
        </form>
        {% endif %}
    </div>
</div>