<div class="edit-post-page">
    <div class="profile-header">
        <a href="#" mix-get="/home" class="back-button">
            <i class="fa-solid fa-x"></i>
        </a>
        <div class="header-info">
            <h2>{{ lans("edit_post") }}</h2>
        </div>
        <button type="submit" form="edit-post-form" class="btn-save">
            {{ lans("save_changes") }}
        </button>
    </div>
    
    <div class="edit-post-wrapper">
        <form id="edit-post-form" mix-post="/api-update-post/{{ post.post_pk }}" class="edit-post-form">
            <div class="edit-post-form-container">
                <img src="{{ url_for('static', filename='uploads/' ~ (user.user_avatar_path if user.user_avatar_path else 'unknown.jpg')) }}" 
                     class="edit-post-avatar"
                     alt="Profile">
                
                <div class="edit-post-content">
                    <textarea id="post-textarea" 
                              name="post_message" 
                              placeholder="What's happening?" 
                              class="edit-post-textarea"
                              maxlength="250"
                              oninput="
                              const counter = document.getElementById('char-count-edit');
                              const len = this.value.length;
                              counter.textContent = len;
                              counter.style.color = len > 250 ? 'red' : (len > 230 ? 'orange' : '#1d9bf0')">{{ post.post_message }}</textarea>
                    
                    <div class="edit-post-footer">
                        <div class="edit-post-counter-wrapper">
                            <div class="edit-post-char-counter">
                                <span id="char-count-edit" class="edit-post-char-count">
                                    {{ post.post_message|length }}
                                </span>/250
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>