<h1>
    {{ lans("edit_profile") }}
</h1>

<form class="x-dialog__form" action="{{ url_for('api_update_profile') }}" mix-post autocomplete="off" enctype="multipart/form-data">
    <div>
        <label for="user_avatar_path">{{lans("profile_picture")}}</label>
        <input type="file" name="user_avatar_path" id="user_avatar_path" accept="image/*" >
    </div>
    <div>
        <label for="user_cover_path">{{lans("cover_image")}}</label>
        <input type="file" name="user_cover_path" id="user_cover_path" accept="image/*" >
    </div>
    
    <div>
        <label for="user_bio">
        <span>{{lans("profile_bio")}}</span>{{ x.BIO_MIN }} {{lans("to")}} {{ x.BIO_MAX }}
        </label>
        <textarea name="user_bio" id="user_bio" mix-check="{{ x.REGEX_BIO }}" >{{ user.user_bio if user.user_bio else '' }}</textarea>
    </div>
    <div>
        <label for="user_email">
        <span>{{ lans("email") }}</span>
        </label>
        <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}" value="{{ user.user_email }}">
    </div>
    <div>
        <label for="user_username">
        <span>{{ lans("username") }}</span> - {{ x.USER_USERNAME_MIN }} {{ lans("to") }} {{ x.USER_USERNAME_MAX }} {{ lans("characters") }}
        </label>
        <input name="user_username" id="user_username" type="text" mix-check="{{ x.REGEX_USER_USERNAME }}" value="{{ user.user_username }}">
    </div>
    <div>
        <label for="user_first_name">
        <span>{{ lans("first_name") }}</span> - {{ x.USER_FIRST_NAME_MIN }} {{ lans("to") }} {{ x.USER_FIRST_NAME_MAX }} {{ lans("characters") }}
        </label>
        <input name="user_first_name" id="user_first_name" type="text" mix-check="{{ x.REGEX_USER_USERNAME }}" value="{{ user.user_first_name }}">
    </div> 
    <div>
        <label for="user_last_name">
        <span>{{ lans("last_name") }}</span> - {{ x.USER_FIRST_NAME_MIN }} {{ lans("to") }} {{ x.USER_FIRST_NAME_MAX }} {{ lans("characters") }}
        </label>
        <input name="user_last_name" id="user_last_name" type="text"  value="{{ user.user_last_name }}">
    </div>            
    <button class="x-dialog__btn"  
    mix-default="{{ lans('update_profile') }}" 
    mix-await="{{lans('updating_profile')}} ...">
        {{lans("update_profile")}}
    </button>
</form>
<div class="py-8 d-flex flex-col a-items-center">
    <a href="/delete-profile" mix-get mix-target="#delete-dialog-container" class="text-c-red" hover="cursor-pointer">
        {{lans("delete_account")}}
    </a>
</div>
<div id="delete-dialog-container"></div>