<div class="d-flex a-items-center">
    <img src="{{ url_for('static', filename='uploads/' ~ (suggestion.user_avatar_path if suggestion.user_avatar_path else 'unknown.jpg')) }}" class="w-8 h-8 rounded-full" alt="Profile Picture">
    <div class="w-full ml-2">
        <p class="">
            {{ suggestion.user_first_name }} {{ suggestion.user_last_name }}
            <span class="text-c-gray:+20 text-70">@{{ suggestion.user_username }}</span>
        </p>
    </div>
    
    {% set target_user_pk = suggestion.user_pk %}
    {% if suggestion.is_following %}
        {% include "___button_unfollow.html" %}
    {% else %}
        {% include "___button_follow.html" %}
    {% endif %}
</div>