
{% include "_header.html" %}

<main class="x-landing">
  <div class="x-landing__left">
      <div class="x-landing__logo" aria-hidden="true">
        <svg width="300" height="300.251" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"/>
        </svg>
      </div>
  </div>

  <div class="x-landing__right">
    
    <div class="x-dialog__content">


      <div class="d-flex gap-3">

        {% if lan != "english": %}
        <a href="/signup/english">
          <img src="/static/images/flag_english.png" class="w-5">
        </a>
        {% endif %}

        {% if lan != "danish": %}
        <a href="/signup/danish">
          <img src="/static/images/flag_danish.png" class="w-5">
        </a>
        {% endif %}

        {% if lan != "spanish": %}
        <a href="/signup/spanish">
          <img src="/static/images/flag_spanish.png" class="w-5">
        </a>
        {% endif %}        

      </div>

        <h2 id="loginTitle">{{ lans("sign_up_to_x") }}</h2>
        <form class="x-dialog__form" action="{{ url_for('signup') }}" mix-post autocomplete="off">

            <div>
              <label for="user_email">
                <span>
                  {{ lans("email") }}
                </span>
              </label>
              <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}">
            </div>
            <div>
              <label for="user_username">{{ lans("username") }}</label>
              <input name="user_username" id="user_username" type="text" mix-check="{{ x.REGEX_USER_USERNAME }}">
              <p class="validation_rules">{{ lans("your_username_must_be_between") }}  {{ x.USER_USERNAME_MIN }} {{ lans("to") }} {{ x.USER_USERNAME_MAX }} {{ lans("characters") }}</p>
            </div>
            <div>
              <label for="user_first_name">{{ lans("first_name") }}</label>
              <input name="user_first_name" id="user_first_name" type="text" mix-check="{{ x.REGEX_USER_FIRST_NAME }}">
              <p class="validation_rules">{{ lans("your_first_name_must_be_between") }} {{ x.USER_FIRST_NAME_MIN }} {{ lans("to") }} {{ x.USER_FIRST_NAME_MAX }} {{ lans("characters") }}</p>
            </div>            
            <div>
              <label for="password">{{ lans("password") }}</label>              
              <input name="user_password" id="password" type="password" mix-check="{{ x.REGEX_USER_PASSWORD }}">
              <p class="validation_rules">{{ lans("your_password_must_be_between") }} {{ x.USER_PASSWORD_MIN }} {{ lans("to") }} {{ x.USER_PASSWORD_MAX }} {{ lans("characters") }}</p>
            </div>
            <button class="x-dialog__btn" 
            mix-default="Sign up" 
            mix-await="{{ lans('signing_up') }}...">
            {{ lans("sign_up") }}
            </button>
        </form>
        <p class="x-dialog__alt">
          {{ lans("have_an_account") }}
            <a href="{{ url_for('login') }}">{{ lans("log_in") }}</a>
        </p>
    </div>


  </div>

</main>

{% include "_footer.html" %}